/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */
body {
background-image: url("img/headshotOAshop.png");
background-size: cover;
background-attachment: fixed;
background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
	font-size: 36px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 3px;
  color: navy;
}
h2 {
  font-size: 20px;
  padding-left: 4px;
  background: none repeat scroll 0 0 #800000;
  color: white;
  padding: 3px 5px 3px 5px;
   border-radius: 4px 0px 0px 4px;
}
p {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 5px;
  line-height: 25px;
  display: inline-block;
}
a {
color: #800000;
text-decoration: none;
}
#bio {
   background: rgba(255, 255, 255, 0.9);
   float: left;
    border-radius: 4px 4px 4px 4px;
  text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    height: 500px;
    width: 300px;
    position: fixed;
    margin-top: 20px;
    padding-left: 15px;
}
ul.social-media {
  display: inline;

}



header {
    z-index: 602;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');



a:link, a:visited {
  color:#eee;
}

.block {
  background-color:rgba(0,0,0,0.2);
    height:370px;
    padding-left:12px;
    padding-right:12px;
}

.block-sm {
    height:180px;
}

.btn-flat {
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  border-radius:0px;
    border-width:0;
    background-image:none;
    padding:16px;
    margin:0 auto;
    margin-top:15px;
    width:70%;
    font-size:20pt;
}

/* mini carousel */
.carousel-inner img {
  width:100%;
    height:100%;
}

#myCarousel {
  font-size:90%;
}

.carousel-controls-mini {
  margin-left:42%;
}

.carousel-controls-mini > a {
  border:1px solid #eee;
    margin:1px;
    width:20px;
    display:block;
    float:left;
    text-align:center;
}

#carousel-bounding-box {
  margin:0 auto;
  width:300px;
}

.quote {
  font-family: cursive;
  font-size: 36px;
  text-align: center;
}

cite {
  float: right;
  font-size: 12px;
  font-family: cursive;
}


